/* two column layout */
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    flex: 50%;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}